<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anand.healthapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".first"
            android:label="HealthApp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".water"
            android:label="@string/title_activity_water"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".food"
            android:label="@string/title_activity_food" >
        </activity>
        <activity
            android:name=".me"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="mainpage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
    </application>

</manifest>
